/* Empty. Add your own CSS if you like */
ion-item {
	background-color: red;
}

.mCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    background-color: red;
    margin: auto;
}

div.centery {
    box-sizing: border-box;
    position: fixed;
    left: 25%;
    right: 25%;
    width: 50%;
    text-align: center;
    align-content: center;
}

.alert {
	background-color: #F2DEDE;
	color: #AF4442;
	vertical-align: middle;
}