/* Empty. Add your own CSS if you like */
<<<<<<< HEAD
ion-item {
	background-color: red;
}

.loadingDiv {
	width: 10px;
	margin: 0px auto;
	display: none;
=======

.alert {
	background-color:#F2DEDE;
	color:#AF4442;
	vertical-align: middle;
>>>>>>> d7a0ecc5d8673ddd5b4545ea73a790258ea212d0
}